.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
	position: absolute;
	top: 10px;
}

.content{
	width: 70%;
	position: relative;
	left: 250px;
}
.head{
	position: relative;	
  	left: 680px;
}

.logo{
	position: relative;
	left: 250px;
}

.image img{
	width: 250px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.title{
	text-align: center;
	position: absolute;
	top: 1px;
	left: 800px;
}

div a {
	
}